@model IEnumerable<Car_Dealership.Models.Message>
@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity.Name;
}



<div id="jumbotron" class="jumbotron">
    <h2 class="text-center text-primary">
        <i class="fab fa-facebook-messenger"></i>&nbsp; Public Talk
        <button type="button"
                onclick="document.getElementById('jumbotron').style.backgroundColor = '#282828'">
            <i class="fa fa-moon-o" aria-hidden="true"></i>
        </button>
        <button type="button"
                onclick="document.getElementById('jumbotron').style.backgroundColor = 'white'">
            <i class="fa fa-sun-o" aria-hidden="true"></i>
        </button>
        
    </h2>

    <div class="row">
        <div class="col-md-12" id="chat">
            @if (Model != null)
            {
                @foreach (var message in Model.OrderBy(m => m.When))
                {
                    string containerClass, timePosition, textAlign, contcolor, offset;
                    if (userName == message.UserName)
                    {
                        containerClass = "container darker";
                        timePosition = "time-right text-light";
                        textAlign = "text-right text-white";
                        contcolor = "bg-primary";
                        offset = "col-md-6 offset-md-6";
                    }
                    else
                    {
                        containerClass = "container";
                        timePosition = "time-left";
                        textAlign = "text-left";
                        contcolor = "bg-secondary";
                        offset = "";
                    }

                    <div class="row ">
                        <div class="@offset">
                            <div id="sms" class="@containerClass @contcolor">

                                <p id="username" class="sender @textAlign">@message.UserName</p>
                                <p id="messageSMS" class="@textAlign">@message.Text</p>
                               
                                @*<span id="DateCreated" class="@timePosition">@message.When.ToString("M/dd/yyyy hh:MM tt")</span>*@
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md-12">
            <form
                  data-ajax-begin="clearInputField" data-ajax-complete=""
                  data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
                  data-ajax="true" data-ajax-method="POST">
                <div class="text-danger"></div>
                <div class="form-group">
                    <input name="Text" class="form-control" id="messageText" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Send" id="submitButton" class="btn btn-outline-primary btn-block" />
                </div>
                <input type="hidden" value="@userName" name="username" />
            </form>
        </div>
    </div>

</div>

@if (User.Identity.IsAuthenticated)
{
    <script>
        const userName = "@ViewBag.CurrentUserName";
    </script>
}


@section scripts {
    <script src="~/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/signalrReqHandler.js"></script>
}
<style>
    .jumbotron{
        margin-top:60px;
        background-color:white;
    }
    #sms {
        max-width: 1200px;
        margin: 2px;
        border-radius: 25px;
        padding: 24px;
        width: 500px;
    }
    input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
        width: 100%;

    }
    
    #username {
        margin-top: -22px;
        margin-right: 294px;
        width: 452px;
        
        color: black !important;
        border-radius: 24px;
        text-align: center !important;
    }

    #messageSMS{
        font:larger bolder;
        text-align:center !important;
        margin-top:15px;
    }
    #DateCreated{
        margin-left:-10px;
    }
    

    .container {
        background-color: white;
        color: black;
    }
    .form-control {
        transition: none;
        
        margin-top: 29px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        text-transform: uppercase;
        transition: all 0.5s ease;
        padding: 16px 0;
        font-size: 13px;
        font-weight: 400;
        position: relative;
        color: black;
    }
        .navbar-expand-lg .navbar-nav .nav-link:hover{
           color:red;
           font:larger bolder;
        }
        .navbar .navbar-brand {
            margin: 0;
            padding: 0;
            font-size: 34px;
            font-weight: 300;
            text-transform: capitalize;
            color: black;
            margin-right: 3rem;
        }
</style>
