@model Car_Dealership.Models.Auto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details of @Html.DisplayFor(model => model.Brand)</h1>
<div>

    <a class="btn btn-primary" asp-action="Index">Back to List</a>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
</div>
<div>
    <hr />
    @{var autoImg = @Html.DisplayFor(model => model.Photo); }
    @*<p> @autoImg</p>*@

    <div class="left-side col">  <img width="580" src="~/img/@autoImg" /></div>
    @{ if (!Model.IsDogan)
        {
            string currentYear = DateTime.Now.Year.ToString();
            var currentYearInt = Int16.Parse(currentYear);
            int Age = currentYearInt - Model.Auto_Production_Year;
            double Akcize = 0;
            double TaksaDoganore = 0;
            double TVSH = 0;
            double Totali = 0;
            int EngineSize = Model.EngineSize;
            double AutoPrice = Model.Price;
            if (Age < 10)
            {
                if (Age == 0 && EngineSize <= 2000)
                {
                    Akcize = 0;
                }
                else if (Age >= 0 && EngineSize > 2000)
                {
                    Akcize = 500;
                }
                else if (Age == 8 && EngineSize <= 3000)
                {
                    Akcize = 500;
                }
                else if (Age == 8 && EngineSize > 3000)
                {
                    Akcize = 1000;
                }
                else if (Age == 9 && EngineSize <= 3000)
                {
                    Akcize = 700;
                }
                else if (Age == 9 && EngineSize > 3000)
                {
                    Akcize = 1500;
                }
                else if (Age == 10 && EngineSize <= 2000)
                {
                    Akcize = 800;
                }
                else if (Age == 10 && EngineSize > 2000 && EngineSize <= 3000)
                {
                    Akcize = 900;
                }
                else if (Age == 10 && EngineSize > 3000)
                {
                    Akcize = 1800;
                }
                else
                {

                }

                TaksaDoganore = AutoPrice * 0.1;
                TVSH = (AutoPrice + TaksaDoganore + Akcize) * 0.16;
                Totali = Akcize + TVSH + TaksaDoganore;
                <p style="background-color:orange"><b>Totali për zhdoganimin të @Model.Brand është @Totali €.</b></p>

            }
            else
            {
                <p style="background-color:red;color:white;"><b>Nuk ka te drejt doganimi sepse eshte me i vjeter se 10 vite.</b></p>
            }


        }

    }
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto_Production_Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto_Production_Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Engine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Engine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body_Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Body_Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Start_Production)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Start_Production)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.End_Production)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.End_Production)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sets)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sets)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fuel_Consumption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fuel_Consumption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fuel_Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fuel_Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Acceleration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Acceleration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Max_Speed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Max_Speed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Power)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Torque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Torque)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDogan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDogan)

        </dd>
    </dl>
</div>

<style>
    .container {
        background-color: black;
    }
</style>